* { box-sizing: border-box; }
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #282853;
  color: white;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 14px 20px;
  background: linear-gradient(90deg, #121b1f, #22d3ee);
  border-bottom: 1px solid #22d3ee;
}

.title { font-size: 20px; font-weight: 600; }


.refresh-btn {
  padding: 8px 14px;
  border-radius: 6px;
  background: #2e2e3a;
  color: white;
  border: none;
  cursor: pointer;
}

#table-grid {
  display: grid;
  padding: 20px;
  gap: 16px;
}

@media(max-width:700px) { #table-grid { grid-template-columns: repeat(2, 1fr); } }
@media(min-width:701px) and (max-width:1099px) { #table-grid { grid-template-columns: repeat(3, 1fr); } }
@media(min-width:1100px) { #table-grid { grid-template-columns: repeat(4, 1fr); } }

.table-tile {
  padding: 24px;
  border-radius: 16px;
  background: #171721;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0,0,0,0.6);
}

.table-tile.available { border: 3px solid #3fc173; }
.table-tile.occupied  { border: 3px solid #e04848; }
.table-tile.cleaning  { border: 3px solid #e6b73d; }

.table-number { font-size: 30px; font-weight: bold; }

.hidden { 
    display: none;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

#popup-overlay {
  position: fixed;
  inset: 0;
  pointer-events: none;
}
#popup {
  position: absolute;
  pointer-events: auto;
  transition: 0.15s ease;
}


#popup {
  width: 90%; max-width: 350px;
  background: #695f64;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
}

.status-btn, .btn-cancel {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 6px 0;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.status-occupied { background: #e04848; color: white; }
.status-checkout { background: #3f7ae0; color: white; }
.btn-cancel { background: #2e2e3a; }

#receipt-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

#receipt-popup {
  background: #fff;
  color: #000;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.receipt-title {
  text-align: center;
  margin-bottom: 10px;
}

.receipt-box {
  white-space: pre-wrap;
  font-size: 14px;
  border: 1px dashed #333;
  padding: 10px;
  margin-bottom: 10px;
  height: 300px;
  overflow-y: auto;
}

.receipt-btn {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background: #222;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.receipt-btn.cancel {
  background: #777;
}
